<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money in Balinese Languages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Money in Balinese Languages</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">SCAN</button>
        </form>
        <!-- <a href="{{ url_for('camera') }}">
            <button>Use Camera</button>
        </a> -->
    </div>
</body>
</html>
