body {
    background-color: #041562;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #EEEEEE;
}

.main-content {
    background-color: #11468F;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: #DA1212;
    color: #EEEEEE;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #A00;
}

.result {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result div {
    text-align: center;
    margin: 10px;
}

.result img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px
}

.result ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}